{% extends 'base.html' %}

{% block title %} PsuedoChat {% endblock %}

{% block content %}
    <header>
        <h1 class="logo">
            PseudoChat
        </h1>
    </header>
    <main>
        <div class="about-container hide">
            <h2>About PseudoChat</h2>
            <p>PseudoChat is the hottest chat-like website out now. It's like chat, but not quite...</p>
        </div>
        <div class="chat-container">
            <div class="chat-header">
                <p>Currently chatting with: <span class="bot-name">PseudoBot</span></p>
            </div>
            <div class="message-field">
                <!--messages will be posting here-->
            </div>
            <form>
                <input class="chat-input" placeholder="Type your message here!"/>
            </form>
        </div>

    </main>
{% endblock %}